@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 10;
}

.header {
  margin: 10px 0 10px 0;
  padding: 5px;
  color: darkslategrey;
  background-color: lightgrey;
  border: solid 1px darkgrey;
  border-radius: 5px;
}